body{
  padding: 20px;
}

.hidden { 
  display: none; 
}

.head-container {
  display: inline-block;
}

.nav-table { 
  border: solid 1px black;             
  border-collapse: collapse;
}

.table-cell { 
  border: solid 1px black;
  height: 30px;
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.table-score-cell { 
  border: solid 1px black;
  font-weight: bold;
  height: 23px;
}

.score-pseudo {
  width: 140px;
}

.score-score {
  width: 30px;
  text-align: center;
}

.table-title {
  font-size: 18px;
  color: blue;
  font-weight: bold;
}

.btn_game {
  height: 30px;
  width: 30px;
}

.btn_selected {
  background-color: red;
}

.case-fired {
  background-color: yellow;
}

.case-defend {
  background-color: grey;
}

.is-touched {
  color: red;
}

.boat-sinked {
  background-color: black;
}

.game-button {
  width: 100px;
  margin-left: 50px;
  height: 50px;
  font-size: 20px;
  padding: auto;
}

.message_alert {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.message_good {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.message_end {
  font-size: 40px;
  font-weight: bold;
}

.scores-game {
  font-size: 20px;
  font-weight: bold;
}
